
<div class="row">
  <div class="col-12" *ngFor="let vehicle of vehicleList">
    <h3>Masini hybrid</h3>
    <div class="row">
      <div class="col-3 mb-3" *ngFor="let car of vehicle.hybridCars">
        <div class="card border-box">
          <div class="card-body" >
            <div >
              <p class="card-text id_class">ID: {{ car.id }}</p>
              <img [src]="convertToBase64(car.photo)" alt="{{ car.brand }} Image" class="img-fluid mb-2">
              <div class="card-text-row">
                <p class="card-text-left">{{ car.brand }}</p>
                <p class="card-text-right"> {{ car.model }}</p>
              </div>
              <div class="card-text-row">
                <p class="card-text"> {{ car.year }}</p>
                <p class="card-text"> {{ car.price | currency: 'EUR'}}/zi</p>
              </div>
              <div class="card-text-row">
              <p class="card-text-left">
                <span class="circle" [ngClass]="{'circle-green': car.state, 'circle-red': !car.state}"></span>
                {{ car.state ? 'Disponibil' : 'Indisponibil' }}
              </p>
              <!-- Adăugare clasă CSS în funcție de starea mașinii -->
              <div class="card-text-right" style="margin-top: -10px;">
                <button class="btn btn-link" (click)="toggleVehicleDetails(car)">
                  <span *ngIf="!car.showDetails">&#9660;</span><!-- Sageata în jos -->
                  <span *ngIf="car.showDetails">&#9650;</span><!-- Sageata în sus -->
                </button>
              </div>
              </div>
            </div>
            <div *ngIf="car.showDetails">
              <p class="card-text">Numar masina: {{ car.carNumber }}</p>
              <p class="card-text">Distanta: {{ car.distance }} km</p>
              <p class="card-text">Putere motor: {{ car.enginePower }}</p>
              <p class="card-text">Putere electrica : {{ car.electricPower }}</p>
              <form (ngSubmit)="onSubmit()" *ngIf="getRolefromToken() === 'client'">
                <label>
                  Zile arenda:
                  <input type="number" [(ngModel)]="rentData.rentalDays" name="rentalDays">
                  <input type="number" [(ngModel)]="rentData.CustomerId" name="CustomerId" style="display: none;">
                  <input type="text" [(ngModel)]="rentData.vehicleTypes" name="vehicleTypes" [value]="3"
                    style="display: none;">
                </label>
                <button class="button-13 " type="submit">Arenda</button>

              </form>
              <div class="card-text-row" *ngIf="getRolefromToken() === 'Admin'" style="padding-top: 20px;">

                <button class="btn btn-danger"  (click)="deleteVehicle()">Sterge
                </button>              
                <button (click)="updateVehicleStatus()" class="btn btn-info" style="height: 50px;"> Actualizeaza
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <h3>Masini pe combustibil</h3>
    <div class="row">
      <div class="col-3 mb-3" *ngFor="let car of vehicle.combustionCars">
        <div class="card border-box">
          <div class="card-body">
            <div>
              <p class="card-text id_class">ID: {{ car.id }}</p>
              <img [src]="convertToBase64(car.photo)" alt="{{ car.brand }} Image" class="img-fluid mb-2">
              <div class="card-text-row">
                <p class="card-text-left">{{ car.brand }}</p>
                <p class="card-text-right"> {{ car.model }}</p>
              </div>
              <div class="card-text-row">
                <p class="card-text"> {{ car.year }}</p>
                <p class="card-text"> {{ car.price | currency: 'EUR'}}/zi</p>
              </div>
              <div class="card-text-row">
              <p class="card-text-left">
                <span class="circle" [ngClass]="{'circle-green': car.state, 'circle-red': !car.state}"></span>
                {{ car.state ? 'Disponibil' : 'Indisponibil' }}
              </p>
              <!-- Adăugare clasă CSS în funcție de starea mașinii -->
              <div class="card-text-right" style="margin-top: -10px;">
                <button class="btn btn-link" (click)="toggleVehicleDetails(car)">
                  <span *ngIf="!car.showDetails">&#9660;</span><!-- Sageata în jos -->
                  <span *ngIf="car.showDetails">&#9650;</span><!-- Sageata în sus -->
                </button>
              </div>
              </div>
            </div>
            <div *ngIf="car.showDetails">
              <p class="card-text">Numar masina: {{ car.carNumber }}</p>
              <p class="card-text">Distanta: {{ car.distance }} km</p>
              <p class="card-text">Putere motor: {{ car.enginePower }}</p>
              <form (ngSubmit)="onSubmit()" *ngIf="getRolefromToken() === 'client'">
                <label>
                  Zile arenda:
                  <input type="number" [(ngModel)]="rentData.rentalDays" name="rentalDays">
                  <input type="number" [(ngModel)]="rentData.CustomerId" name="CustomerId" style="display: none;">
                  <input type="text" [(ngModel)]="rentData.vehicleTypes" name="vehicleTypes" [value]="3"
                    style="display: none;">
                </label>
                <button class="button-13" type="submit">Arenda</button>
              </form>
              <div class="card-text-row" *ngIf="getRolefromToken() === 'Admin'" style="padding-top: 20px;">
                <button class="btn btn-danger"  (click)="deleteVehicle()">Sterge
                </button>              
                <button (click)="updateVehicleStatus()" class="btn btn-info" style="height: 50px;"> Actualizeaza
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3>Masini electrice</h3>
    <div class="row">
      <div class="col-3 mb-3" *ngFor="let car of vehicle.hyElectricCars">
        <div class="card border-box">
          <div class="card-body">
            <div>
              <p class="card-text id_class">ID: {{ car.id }}</p>
              <img [src]="convertToBase64(car.photo)" alt="{{ car.brand }} Image" class="img-fluid mb-2">
              <div class="card-text-row">
                <p class="card-text-left">{{ car.brand }}</p>
                <p class="card-text-right"> {{ car.model }}</p>
              </div>
              <div class="card-text-row">
                <p class="card-text"> {{ car.year }}</p>
                <p class="card-text"> {{ car.price | currency: 'EUR'}}/zi</p>
              </div>
              <div class="card-text-row">
              <p class="card-text-left">
                <span class="circle" [ngClass]="{'circle-green': car.state, 'circle-red': !car.state}"></span>
                {{ car.state ? 'Disponibil' : 'Indisponibil' }}
              </p>
              <!-- Adăugare clasă CSS în funcție de starea mașinii -->
              <div class="card-text-right" style="margin-top: -10px;">
                <button class="btn btn-link" (click)="toggleVehicleDetails(car)">
                  <span *ngIf="!car.showDetails">&#9660;</span><!-- Sageata în jos -->
                  <span *ngIf="car.showDetails">&#9650;</span><!-- Sageata în sus -->
                </button>
              </div>
              </div>
            </div>
            <div *ngIf="car.showDetails">
              <p class="card-text">Numar masina: {{ car.carNumber }}</p>
              <p class="card-text">Distanta: {{ car.distance }} km</p>
              <p class="card-text">Putere electrica : {{ car.enginePower }}</p>
              <p class="card-text">Capacitate Baterie: {{ car.batteryCapacity }}km</p>
              <form (ngSubmit)="onSubmit()" *ngIf="getRolefromToken() === 'client'">
                <label>
                  Zile arenda:
                  <input type="number" [(ngModel)]="rentData.rentalDays" name="rentalDays">
                  <input type="number" [(ngModel)]="rentData.CustomerId" name="CustomerId" style="display: none;">
                  <input type="text" [(ngModel)]="rentData.vehicleTypes" name="vehicleTypes" [value]="3"
                    style="display: none;">
                </label>
                <button class="button-13" type="submit">Arenda</button>
              </form>
              <div class="card-text-row" *ngIf="getRolefromToken() === 'Admin'" style="padding-top: 20px;">
                <button class="btn btn-danger"  (click)="deleteVehicle()">Sterge
                </button>              
                <button (click)="updateVehicleStatus()" class="btn btn-info" style="height: 50px;"> Actualizeaza
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    

    <h3>Motociclete electrice</h3>
    <div class="row">
      <div class="col-3 mb-3" *ngFor="let car of vehicle.electricMotorcycle">
        <div class="card border-box">
          <div class="card-body">
            <div>
              <p class="card-text id_class">ID: {{ car.id }}</p>
              <img [src]="convertToBase64(car.photo)" alt="{{ car.brand }} Image" class="img-fluid mb-2">
              <div class="card-text-row">
                <p class="card-text-left">{{ car.brand }}</p>
                <p class="card-text-right"> {{ car.model }}</p>
              </div>
              <div class="card-text-row">
                <p class="card-text"> {{ car.year }}</p>
                <p class="card-text"> {{ car.price | currency: 'EUR'}}/zi</p>
              </div>
              <div class="card-text-row">
              <p class="card-text-left">
                <span class="circle" [ngClass]="{'circle-green': car.state, 'circle-red': !car.state}"></span>
                {{ car.state ? 'Disponibil' : 'Indisponibil' }}
              </p>
              <!-- Adăugare clasă CSS în funcție de starea mașinii -->
              <div class="card-text-right" style="margin-top: -10px;">
                <button class="btn btn-link" (click)="toggleVehicleDetails(car)">
                  <span *ngIf="!car.showDetails">&#9660;</span><!-- Sageata în jos -->
                  <span *ngIf="car.showDetails">&#9650;</span><!-- Sageata în sus -->
                </button>
              </div>
              </div>
            </div>
            <div *ngIf="car.showDetails">
              <p class="card-text">Numar masina: {{ car.carNumber }}</p>
              <p class="card-text">Distanta: {{ car.distance }} km</p>
              <p class="card-text">Putere electrica : {{ car.enginePower }}</p>
              <p class="card-text">Capacitate Baterie: {{ car.batteryCapacity }}km</p>
              <form (ngSubmit)="onSubmit()" *ngIf="getRolefromToken() === 'client'">
                <label>
                  Zile arenda:
                  <input type="number" [(ngModel)]="rentData.rentalDays" name="rentalDays">
                  <input type="number" [(ngModel)]="rentData.CustomerId" name="CustomerId" style="display: none;">
                  <input type="text" [(ngModel)]="rentData.vehicleTypes" name="vehicleTypes" [value]="3"
                    style="display: none;">
                </label>
                <button class="button-13" type="submit">Arenda</button>
              </form>
              <div class="card-text-row" *ngIf="getRolefromToken() === 'Admin'" style="padding-top: 20px;">
                <button class="btn btn-danger"  (click)="deleteVehicle()">Sterge
                </button>              
                <button (click)="updateVehicleStatus()" class="btn btn-info" style="height: 50px;"> Actualizeaza
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <h3>Motociclete pe combustibil:</h3>
    <div class="row">
      <div class="col-3 mb-3" *ngFor="let car of vehicle.combustionMotorcycles">
        <div class="card border-box">
          <div class="card-body">
            <div>
              <p class="card-text id_class">ID: {{ car.id }}</p>
              <img [src]="convertToBase64(car.photo)" alt="{{ car.brand }} Image" class="img-fluid mb-2">
              <div class="card-text-row">
                <p class="card-text-left">{{ car.brand }}</p>
                <p class="card-text-right"> {{ car.model }}</p>
              </div>
              <div class="card-text-row">
                <p class="card-text"> {{ car.year }}</p>
                <p class="card-text"> {{ car.price | currency: 'EUR'}}/zi</p>
              </div>
              <div class="card-text-row">
              <p class="card-text-left">
                <span class="circle" [ngClass]="{'circle-green': car.state, 'circle-red': !car.state}"></span>
                {{ car.state ? 'Disponibil' : 'Indisponibil' }}
              </p>
              <!-- Adăugare clasă CSS în funcție de starea mașinii -->
              <div class="card-text-right" style="margin-top: -10px;">
                <button class="btn btn-link" (click)="toggleVehicleDetails(car)">
                  <span *ngIf="!car.showDetails">&#9660;</span><!-- Sageata în jos -->
                  <span *ngIf="car.showDetails">&#9650;</span><!-- Sageata în sus -->
                </button>
              </div>
              </div>
            </div>
            <div *ngIf="car.showDetails">
              <p class="card-text">Numar masina: {{ car.carNumber }}</p>
              <p class="card-text">Distanta: {{ car.distance }} km</p>
              <p class="card-text">Putere motor: {{ car.enginePower }}</p>
              <form (ngSubmit)="onSubmit()" *ngIf="getRolefromToken() === 'client'">
                <label>
                  Zile arenda:
                  <input type="number" [(ngModel)]="rentData.rentalDays" name="rentalDays">
                  <input type="number" [(ngModel)]="rentData.CustomerId" name="CustomerId" style="display: none;">
                  <input type="text" [(ngModel)]="rentData.vehicleTypes" name="vehicleTypes" [value]="3"
                    style="display: none;">
                </label>
                <button class="button-13" type="submit">Arenda</button>
              </form>
              <div class="card-text-row" *ngIf="getRolefromToken() === 'Admin'" >
                <button class="btn btn-danger"  (click)="deleteVehicle()">Sterge
                </button>              
                <button (click)="updateVehicleStatus()" class="btn btn-info" style="height: 50px;"> Actualizeaza
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>