.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .circle-green {
    background-color: green;
  }
  
  .circle-red {
    background-color: red;
  }
  

  p{
    font-size: 10pt;
  }

.id_class{
    font-size: 7pt;
}

.card-text-row {
    display: flex;
    justify-content: space-between;
  }
  
  .card-text-left {
    flex: 1;
  }
  
  .card-text-right {
    flex: 1;
    text-align: right;
  }
  
img{
    margin-top: -14px;
}

h3{
    color: white;
}

.img_x{
    width: 50px;
    height: auto;
}

.img_refresh{
    width: 40px;
    height: auto;
}


.border-box{
    border: solid 4px;
}

input[type=number] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #0585b8;
	background: rgba(#0585b8, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #010102;
    width: 130px;
}

.card-body img {
  height: 150px; /* Setează înălțimea imaginilor la 200px sau orice valoare dorești */
}

