<div class="row">
    <div class="col-12" *ngFor="let vehicle of vehicleList">
      <h3>Hybrid Cars:</h3>
      <div class="row">
        <div class="col-2 mb-3" *ngFor="let car of vehicle.hybridCars">
          <div class="card">
            <div class="card-body">
              <div (click)="toggleVehicleDetails(car)">
                <p class="card-text">ID: {{ car.id }}</p>
                <p class="card-text">Brand: {{ car.brand }}</p>
                <p class="card-text">Model: {{ car.model }}</p>
                <p class="card-text">Year: {{ car.year }}</p>
                <p class="card-text" [ngClass]="{'text-success': car.state, 'text-danger': !car.state}">{{ car.state ? 'Disponibil' : 'Indisponibil' }}</p>
                <!-- Adăugare clasă CSS în funcție de starea mașinii -->
                <img [src]="convertToBase64(car.photo)" alt="{{ car.brand }} Image" class="img-fluid mb-2">
              </div>
              <div *ngIf="car.showDetails">
                <p class="card-text">Car Number: {{ car.carNumber }}</p>
                <p class="card-text">Distance: {{ car.distance }}</p>
                <p class="card-text">Price: {{ car.price }}</p>
                <p class="card-text">Engine Power: {{ car.enginePower }}</p>
                <p class="card-text">Electric Power: {{ car.electricPower }}</p>
                <form (ngSubmit)="onSubmit()">
                  <label>
                    Zile arenda:
                    <input type="text" [(ngModel)]="rentData.rentalDays" name="rentalDays">
                    <input type="number" [(ngModel)]="rentData.CustomerId" name="CustomerId" style="display: none;">
                    <input type="text" [(ngModel)]="rentData.vehicleTypes" name="vehicleTypes" [value]="3" style="display: none;">
                  </label>
                  <button type="submit">Trimite</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  