html,body{
    margin: 0;
    top:0;
}

.backgroundImage {
    top: 0;
    left: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("../../../assets/home.jpg");
    background-size: cover;
    background-position: center;
    position: fixed;
    filter: blur(3px);
    z-index: -3;
    background-repeat: no-repeat;
}

app-menu {
    z-index: 9999; /* Asigurați-vă că meniul are cel mai înalt z-index */
    position: fixed; /* Asigurați-vă că meniul rămâne în același loc pe ecran */
}

