.car-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: box-shadow 0.5s ease;
    background-color: white;
    opacity: 1;
  }
  
  .card:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  }

.card-img-top {
    padding-top: 10%;
  width: 290px;
  height: 220px;
  display: block;
  margin-left: auto; /* Aliniază imaginea pe centru pe orizontală */
  margin-right: auto; /* Aliniază imaginea pe centru pe orizontală */
}

.card-body {
    text-align: center;
  }
  
  .price {
    color: #007bff;
    font-weight: bold;
  }

  input {
    width: 240px;
    margin-block: 10px;
  }

button {
  height: 40px;
}

h2 {
    color: rgb(233, 233, 233);
    font-size: 23pt;
    font-family:cursive;
    
}