<div class="container">
    <!-- <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nume mașină" [(ngModel)]="nameFilter" (input)="applyFilters()">
            
            <input type="text" class="form-control" placeholder="Model mașină" [(ngModel)]="modelFilter" (input)="applyFilters()">
        </div>
        </div>
      </div>
      <br> -->
    <div class="container mx-auto">
      <h2>Electric Car</h2>
    <div class="car-box">
      <div *ngFor="let car of filteredCars" class="col-md-15">
        <div class="card">
          <img [src]="car.photo" alt="{{ car.brand }} {{ car.model }} Photo" class="card-img-top align-center"alt="Car Image">
          <div class="card-body">
            <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
            <div class="d-flex justify-content-between">
              <p class="card-text">An: {{ car.year }}</p>
              <p class="card-text">Kilometraj: {{ car.distance }}</p>
            </div>
            <div>
              <p class="card-text">Capacitate Baterie {{ car.batteryCapacity }}</p>
              <p class="card-text">Putere Batarie {{ car.electricPower }}</p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="price">Preț: {{ car.price }} € / zi</p>
              <button class="btn btn-success">Arendează</button>    
              <button (click)="deleteCar(car.id)" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>