<div class="background-image"></div>
<div class="container">
  <div class="left-column" style="margin-left: -150px; margin-top: 30px;">
    <!-- <app-car-insert></app-car-insert> -->
    <div>
      <h5>Înserare mașină</h5>
      <select class="form-select" [(ngModel)]="selectedComponent" style="width: 180px;display: inline-block;">
        <option value="electric">Mașină electrică</option>
        <option value="hybrid">Mașină hybrid</option>
        <option value="combustion">Mașină pe combustibil</option>
      </select>
      <button (click)="hideComponent()" class="btn btn-danger" style="margin-left: 6px; margin-top: -3px;">X</button>
    </div>
      <div *ngIf="selectedComponent === 'electric'">
        <app-car-electric-insert></app-car-electric-insert>
      </div>
      <div *ngIf="selectedComponent === 'hybrid'">
        <app-insert-hybrid></app-insert-hybrid>
      </div>
      <div *ngIf="selectedComponent === 'combustion'">
        <app-insert-combustion></app-insert-combustion>
      </div>
    

  </div>
  <div class="right-column">
    <!-- <app-car-box></app-car-box> -->
    <app-electric-car></app-electric-car>
    <app-get-combustion></app-get-combustion>
    <app-get-hybrid></app-get-hybrid>
    <router-outlet></router-outlet>
  </div>
</div>

<script>

</script>