<app-menu></app-menu>
<div style="padding-top: 5%;" class="profile-and-rentals-container">
    <div class="profile-container">
        <h2>Profil</h2>
        <div *ngIf="clientData">
            <p>Nume: {{ clientData.name }}</p>
            <p>Data înregistrare: {{ clientData.registerDateTime | date:'yyyy-MM-dd' }}</p>
            <p>Închirieri: {{ clientData.rentalCars }}</p>

            <div class="update-section">
                <h3>Actualizare Număr</h3>
                <form (ngSubmit)="updatePhoneNumber()">
                    <p>Telefon curent: {{ clientData.phoneNumber }}</p>
                    <label for="phone-number">Număr de telefon nou:</label>
                    <input type="text" id="phone-number" [(ngModel)]="updatePhone.phoneNumber" name="phone-number"
                        required>

                    <button type="submit" class="btn btn-success">Actualizează număr</button>
                </form>
            </div>

            <div class="update-section">
                <h3>Actualizare Parolă</h3>
                <form (ngSubmit)="updatePassword()">
                    <label for="client-name">Parolă:</label>
                    <input type="text" id="Password" [(ngModel)]="updatePass.password" name="Password" required>

                    <button type="submit" class="btn btn-success">Actualizează parolă</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="userRole === 'client'">
        <input type="text" placeholder="Căutare arendă" [(ngModel)]="rentalFilter" class="form-control mb-2">
        <div *ngIf="rentals.length">
            <h3>Închirieri</h3>
            <div class="table-responsive" style="margin-top: 50px;">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Id client</th>
                            <th scope="col">Id vehicul</th>
                            <th scope="col">Tip vehicul</th>
                            <th scope="col">Număr mașină</th>
                            <th scope="col">Timp început</th>
                            <th scope="col">Timp sfârșit</th>
                            <th scope="col">Preț total</th>
                            <th scope="col">Anuleaza Inchiriere</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rental of rentals | filter:rentalFilter">
                            <td>{{ rental.id }}</td>
                            <td>{{ rental.customerId }}</td>
                            <td>{{ rental.vehicleId }}</td>
                            <td>{{ rental.vehicleType }}</td>
                            <td>{{ rental.carNumber }}</td>
                            <td>{{ rental.starTime | date:'yyyy-MM-dd' }}</td>
                            <td>{{ rental.endTime | date:'yyyy-MM-dd' }}</td>
                            <td>{{ rental.totalPrice | currency: 'EUR' }}</td>
                            <td><button type="button" class="btn btn-danger"
                                    (click)="deleteRental(rental.id)">X</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>