<nav class="navbar">
    <div class="navbar-container">
      <button class="logo-button"  [routerLink]="['/home']">
        <img src="../../../assets/logo3.jpg" alt="TopRental" style="filter: invert(1);">
      </button>
      <button class="logo-button"  [routerLink]="['/home']">
        <div class="navbar- title">TopRental</div> <!-- Adăugăm titlul aici -->
      </button>
      <div class="navbar-links">
        <button [routerLink]="['/home']" style="color: rgb(9, 133, 182)">Acasă</button>
        <button *ngIf="getRole() === 'Admin'" [routerLink]="['/adminPage']" style="color: rgb(9, 133, 182);">Pagina Admin</button>
        <!-- <button>TopRental</button> -->
        <button [routerLink]="['/profile']" type="button" id="userNameLabel" style="margin-top: 5px; color: rgb(9, 133, 182)"> {{userNameLabel}}</button>
        <button (click)="logout()" style="color: red;">Delogare</button>
      </div>
    </div>
  </nav>
  