.img_x{
    width: 150px;
    height: auto;
}

input[type=text] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #0585b8;
	background: rgba(#0585b8, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #010102;
    width: 130px;
}

input[type=number] {
	appearance: none;
	border: none;
	outline: none;
	border-bottom: .2em solid #0585b8;
	background: rgba(#0585b8, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #010102;
    width: 130px;
}

.form-inline {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Spațiu între elemente */
    align-items: center; /* Alinierea verticală a elementelor */
}

.form-inline .form-group {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Spațiu între grupuri */
}

.form-inline .form-group label {
    margin-right: 5px; /* Spațiu între etichetă și input */
}
