<body>
    <app-menu></app-menu>
    <div class="container">

        <div class="container" style="position: relative;">
            <app-add-vehicle *ngIf="getRolefromToken() === 'Admin'"
                style="position: absolute; top: 100px; left: -270px;"></app-add-vehicle>
        </div>
        <div style="padding-top: 5%;">
            <div>
                <h3>Lista de arende</h3>
                <div class="table-responsive">
                    <!-- Filtru pentru Rentals -->
                    <input type="text" placeholder="Căutare" [(ngModel)]="rentalsFilter" class="form-control mb-2">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Id client</th>
                                <th scope="col">Id vehicul</th>
                                <th scope="col">Tip vehicul</th>
                                <th scope="col">Număr mașină</th>
                                <th scope="col">Timp început</th>
                                <th scope="col">Timp sfârșit</th>
                                <th scope="col">Preț total</th>
                                <th scope="col">Anuleaza Inchiriere</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rental of rentals | filter:rentalsFilter">
                                <td>{{ rental.id }}</td>
                                <td>{{ rental.customerId }}</td>
                                <td>{{ rental.vehicleId }}</td>
                                <td>{{ rental.vehicleType }}</td>
                                <td>{{ rental.carNumber }}</td>
                                <td>{{ rental.starTime | date:'yyyy-MM-dd' }}</td>
                                <td>{{ rental.endTime | date:'yyyy-MM-dd' }}</td>
                                <td>{{ rental.totalPrice }}</td>
                                <td><button type="button" class="btn btn-danger"
                                        (click)="deleteRental(rental.id)">X</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="container mt-5">
                <h3>Creare Inspecție</h3>
                <div class="table-responsive">
                    <form [formGroup]="inspectionForm" (ngSubmit)="onSubmit()" class="form-inline">
                        <div class="mb-3">
                            <label for="carNumber" class="form-label">Număr mașină:</label>
                            <input type="text" id="carNumber" formControlName="carNumber" class="form-control">
                        </div>
                        
                        <div class="mb-3">
                            <label for="date" class="form-label">Data:</label>
                            <input type="date" id="date" type="date" formControlName="date" class="form-control">
                        </div>
                      
                        <div class="form-check mb-3">
                            <input id="advanceInspection" type="checkbox" formControlName="advanceInspection" class="form-check-input">
                            <label for="advanceInspection" class="form-check-label">Inspecție avansată:</label>
                        </div>
                      
                        <button type="submit" class="btn btn-outline-success" [disabled]="inspectionForm.invalid">Crează</button>
                    </form>
                </div>
            </div>
            

            <div style="padding-top: 5%;">
                <h3>Inspecții vehicol</h3>
                <div class="table-responsive">
                    <input type="text" placeholder="Căutare" [(ngModel)]="inspectionsFilter" class="form-control mb-2">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Descriere</th>
                                <th scope="col">Data</th>
                                <th scope="col">Număr mașină</th>
                                <th scope="col">Inspectie avansata</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let inspection of inspections | filter:inspectionsFilter">
                                <td>{{ inspection.id }}</td>
                                <td>{{ inspection.description }}</td>
                                <td>{{ inspection.date | date:'yyyy-MM-dd' }}</td>
                                <td>{{ inspection.carNumber }}</td>
                                <td>{{ inspection.advanced }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div style="padding-top: 5%;">
                <app-clients></app-clients>
            </div>
        </div>



        <div style="padding-top: 5%; padding-bottom: 2%;">
            <h3>Caută vehicol</h3>
            <form (ngSubmit)="getVehicle()" #carForm="ngForm" class="form-inline">
                <div class="form-group">
                    <label for="id">Id:</label>
                    <input type="number" class="form-control" id="id" name="id" [(ngModel)]="id" required>
                </div>

                <div class="form-group">
                    <label for="typeVehicle">Tip:</label>
                    <select class="form-control" id="typeVehicle" name="typeVehicle" [(ngModel)]="selectedVehicleIndex" (change)="onVehicleChange($event)" required>
                        <option *ngFor="let vehicle of vehicles; let i = index" [value]="i">{{vehicle}}</option>
                    </select>
                </div>
                
                
                <div>
                    <button class="btn btn-outline-success" (click)="getVehicle()" style="margin-top: 1%;">Caută</button>
                </div>
            </form>
            <div class="container mt-4">
                <div class="row">
                    <div class="col-md-4">
                        <img [src]="convertToBase64(vehicle.photo)" alt="{{ vehicle.brand }} Image" class="img-fluid mb-5 rounded img_x" style="width: 550px;">
                    </div>
                    <div class="col-md-8">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Brand:</strong> {{ vehicle.brand }}</li>
                            <li class="list-group-item"><strong>Număr mașină:</strong> {{ vehicle.carNumber }}</li>
                            <li class="list-group-item"><strong>Model:</strong> {{ vehicle.model }}</li>
                            <li class="list-group-item"><strong>Anul producerii:</strong> {{ vehicle.year }}</li>
                            <li class="list-group-item"><strong>Parcurs:</strong> {{ vehicle.distance }}</li>
                            <li class="list-group-item"><strong>Preț:</strong> {{ vehicle.price }}</li>
                            <li class="list-group-item"><strong>Putere motor:</strong> {{ vehicle.enginePower }}</li>
                            <li class="list-group-item"><strong>Putere electrică:</strong> {{ vehicle.electricPower }}</li>
                            <li class="list-group-item"><strong>Capacitate baterie:</strong> {{ vehicle.batteryCapacity }}</li>
                        </ul>
                    </div>
                </div>
            </div>            
        </div>

        <h3>Schimbă rol:</h3>
        <form (click)="chengeRole()" class="form-inline" style="margin-bottom: 10px;">
            <div class="form-group">
              <label for="name">Nume Client:</label>
              <input type="text" id="name" class="form-control" [(ngModel)]="user.userName" name="name" required>
            </div>
            <div class="form-group" style="width: 130px;">
              <label for="role">Rol:</label>
              <select id="role" class="form-control" [(ngModel)]="user.RoleName" name="role" required>
                <option value="Admin">Admin</option>
                <option value="client">Client</option>
              </select>
            </div>
            <button type="submit" class="btn btn-outline-success" style="margin-top: 5px;">Schimbă Rol</button>
          </form>
          
    </div>
</body>