<!-- car-form.component.html -->
<div>
  <button class="btn btn-primary" (click)="showCarForm()">Adaugă vehicul</button>
<div *ngIf="displayCarForm">
  <form (ngSubmit)="submitForm()" #carForm="ngForm">
    <div class="form-group">
      <label for="brand">Marcă:</label>
      <input type="text" class="form-control" id="brand" name="brand" [(ngModel)]="car.brand" required>
    </div>
    
    <div class="form-group">
      <label for="carNumber">Număr mașină:</label>
      <input type="text" class="form-control" id="carNumber" name="carNumber" [(ngModel)]="car.carNumber" required>
    </div>
    
    <div class="form-group">
      <label for="model">Model:</label>
      <input type="text" class="form-control" id="model" name="model" [(ngModel)]="car.model" required>
    </div>
    
    <div class="form-group">
      <label for="year">Anul producției:</label>
      <input type="number" class="form-control" id="year" name="year" [(ngModel)]="car.year" required>
    </div>
    
    <div class="form-group">
      <label for="distance">Parcurs:</label>
      <input type="number" class="form-control" id="distance" name="distance" [(ngModel)]="car.distance" required>
    </div>
    
    <!-- <div class="form-group">
      <label for="photo">Photo:</label>
      <input type="text" class="form-control" id="photo" name="photo" [(ngModel)]="car.photo">
    </div> -->

    <div class="form-group">
      <label for="photo">Poză:</label>
      <input type="file" id="photo" name="photo" placeholder="Adaugă poză" class="form-control-file"  [(ngModel)]="car.photo">
    </div>
    
    <div class="form-group">
      <label for="price">Preț:</label>
      <input type="number" class="form-control" id="price" name="price" [(ngModel)]="car.price" required>
    </div>
    
    <div class="form-group">
      <label for="enginePower">Putere motor:</label>
      <input type="number" class="form-control" id="enginePower" name="enginePower" [(ngModel)]="car.enginePower" required>
    </div>
    
    <div class="form-group">
      <label for="electricPower">Putere electrică:</label>
      <input type="number" class="form-control" id="electricPower" name="electricPower" [(ngModel)]="car.electricPower" required>
    </div>
    
    <div class="form-group">
      <label for="batteryCapacity">Capacitate baterie:</label>
      <input type="number" class="form-control" id="batteryCapacity" name="batteryCapacity" [(ngModel)]="car.batteryCapacity" required>
    </div>
    
    <div class="form-group">
      <label for="vehicleType">Tip vehicol:</label>
      <input type="text" class="form-control" id="vehicleType" name="vehicleType" [(ngModel)]="car.vehicleType" required>
    </div>
  
    <button type="submit" class="button-13">Adaugă</button>
  </form>
</div>
</div>