.custom-input {
    width: 300px; /* Setează lățimea input-ului la 300px */
  }
  
  h2 {
    color: white;
    font-size: 23pt;
    font-family:cursive;
}

label {
    color: white;
    font-size: 13pt;
    font-family:cursive;
}

